* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
  --clr-sky-blue: #8ecae6ff;
  --clr-blue-green: #219ebcff;
  --clr-brussian-blue: #023047ff;
  --clr-selective-yellow: #ffb703ff;
  --clr-ut-orange: #fb8500ff;
  --light-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}
body {
  font-family: "Lato", sans-serif;
  min-width: 100vh;
  min-height: 100vh;
}
.flex-class {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.nav-bar-section {
  min-width: 100%;
  height: 5rem;
  border-bottom: 2px solid #dcdddc;
  position: fixed;
  background-color: white;
  z-index: 100;
}
.logo-section {
  width: 33.33%;
  height: 5rem;
}
.menu-container {
  display: flex;
  width: 100%;
  padding: 2rem;
  gap: 1.5rem;
}
.menu {
  width: 8%;
  cursor: pointer;
}
.logo {
  width: 33%;
  cursor: pointer;
}
.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-section {
  width: 33.33%;
  height: 5rem;
  padding: 1rem;
  position: relative;
}

.searchBar {
  padding: 1rem;
  width: 100%;
  border-radius: 3rem;
  border: 2px solid #dcdddc;
  outline: none;
}
.searchBar::placeholder {
  color: #4a5463;
  font-weight: 700;
}

.searchBar:focus {
  border: 2px solid black;
}
.magnify-container {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #111827;
  right: 1.5rem;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  border: transparent;
}
.magnify-container:hover {
  background-color: black;
}
.magnify {
  width: 1.2rem;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.btn-section {
  width: 33.33%;
  height: 5rem;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 2rem;
}
.login {
  width: 5rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: transparent;
  color: white;
  background-color: #111827;
  cursor: pointer;
}
.login:hover {
  background-color: black;
}
.flex-without-direction {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section {
  padding-top: 10rem;
  min-width: 100vh;
  height: 32rem;
}
.hero-box {
  margin: 2rem;
  min-width: 100vh;
  height: 28rem;
  background-color: white;
  border: 1px solid #dcdddc;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  box-shadow: var(--light-shadow);
}
.person-img-container {
  width: 50%;
  padding: 2rem;
}
.person-content-container {
}
.hero-img-container {
  min-width: 100vh;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}
.cover-img {
  width: 100%;
  height: 28.5rem;
}
.photo {
  width: 35%;
  border-radius: 50%;
}
.insta {
  width: 4%;
}
.text-underline {
  text-align: center;
  text-decoration: underline;

  color: black;
}
.person-content-container {
  flex-direction: column;
}
h1 {
  font-size: 24px;
  font-weight: 700;
}
.intermediate-division-section {
  margin-top: 5rem;
  width: 100%;
  height: 6rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.changer-menu {
  gap: 2rem;
}
.changer-anchor {
  text-decoration: none;
  color: #dcdddc;
}
.listing {
  color: black;
}
.line-div {
  width: 100%;
  border: 1.5px solid #dcdddc;
  background-color: #dcdddc;
  border-radius: 0.5rem;
}
.black-div-one {
  width: 3rem;
  background-color: black;
  border-radius: 0.5rem;
  height: 3px;
}
.para {
  font-weight: 700;
}
.boat-section {
  min-width: 100vh;
  height: 79rem;
  flex-wrap: wrap;
}
.boat-img-div {
  margin: 2rem;
  min-width: 100vh;
  height: 77rem;
  background-color: white;
}

.boat-img {
  width: 22rem;
  height: 23rem;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}
.setOne-img {
  width: 100%;
  position: relative;
}

.set-one-img {
  width: 100%;
  position: relative;
}
.ul-class {
  display: flex;
}
li {
  margin-left: 0rem;
}
.first-list {
  list-style: none;
  font-weight: 700;
}
.secondlist {
  margin-left: 1.5rem;
  font-weight: 700;
}
.img-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.rating-class {
  position: relative;
}
.star {
  position: absolute;
  width: 5% !important;
  top: -6.55rem;
  left: 10rem;
}
.star-two {
  position: absolute;
  width: 5% !important;
  top: -6.55rem;
  left: 11rem;
}
.star-three {
  position: absolute;
  width: 5% !important;
  top: -6.55rem;
  left: 12rem;
}
.star-four {
  position: absolute;
  width: 5% !important;
  top: -6.55rem;
  left: 13rem;
}
.star-five {
  position: absolute;
  width: 5% !important;
  top: -6.55rem;
  left: 14rem;
  -webkit-filter: invert(50%);
  filter: invert(50%);
}
.filled {
  -webkit-filter: invert(10%);
  filter: invert(10%);
}
.rating-class {
  display: flex;
  flex-direction: row;
}
.change-to-inline {
  position: absolute;
  left: 15.5rem;
  top: 0.9rem;
}
.img-level-container {
  position: relative;
  cursor: pointer;
}
.heart-container {
  position: relative;
}
.heart {
  position: absolute;
  width: 8% !important;
  /* top: -27%;
  left: 88%; */
  left: 18.5rem;
  top: -6rem;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.bold-set {
  font-weight: 700;
  font-size: 1.5rem;
}
.radius-img {
  height: 14.3rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.css-changes {
  height: 14.3rem;
}
.place {
  color: #4a5463;
  font-weight: 400;
}

.three_set {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.three_set img {
  height: 16rem;
  width: 21rem;
}

.text_one {
  color: rgb(141, 140, 140);
}

.text_two {
  color: rgb(141, 140, 140);
}

.content-for-img {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.boats {
  padding-bottom: 1rem;
}

.last-line-content {
  padding-top: 0.5rem;
}
.footer-section {
  margin-top: 1rem;
  width: 100%;
}
.footer {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 2rem;
}

.link {
  display: flex;
  gap: 1.5rem;
  margin-left: 1rem;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}

.redQ {
  cursor: pointer;
}
.redQ:hover {
  text-decoration: underline;
}
.boat-rad {
  border-radius: 0.5rem;
}
.arrow {
  position: absolute;
  top: 6.5rem;
  left: 18rem;
  width: 1.5rem !important;
  height: 1.5rem !important;
  opacity: 80%;
  display: none;
}
.img-level-container:hover .arrow {
  display: block;
}
.layout-wrapper {
  display: none;
}
@media (max-width: 998px) {
  .three_set > div {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .hero-box {
    width: 10rem;
    flex-direction: column;
    background: url(/images/cover-image.webp);
    margin: auto;
    margin-left: 10%;
  }
  .hero-img-container {
    margin: auto;
  }
  .person-img-container {
    padding-top: 10rem;
    width: 50%;
    margin: auto;
  }
  .media-container {
    background-color: white;
    padding: 2rem;
    border: 1px solid #dcdddc;
    border-radius: 1rem;
    box-shadow: var(--light-shadow);
    margin-left: -35%;
    height: 110%;
  }
  .intermediate-division-section {
    margin-top: 10rem;
  }
  .boat-section {
    margin: auto;
  }
  .hero-section {
    width: 50%;
  }

  .footer {
    flex-direction: column;
  }
  .link {
    order: -1;
  }
  body {
    margin: auto;
  }
  .menu {
    width: 2rem;
  }
  .logo {
    width: 8rem;
  }

  .layout-wrapper {
    display: block;
    min-width: 100%;
    height: auto;
    background-color: white;
    padding: 1.5rem;
    border-top: 1px solid #dcdddc;
  }
  .layout-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }
  .common-cls {
    width: 2rem;
  }
}

@media (max-width: 480px) {
  .three_set > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 1350px) {
  .menu {
    width: 2rem;
  }
  .logo {
    width: 8rem;
  }
  .media-container {
    width: 20rem;
  }
}
